<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fatemas Jyckar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="happy.png">
</head>
<body>

<div class="header">
    <div class="company">
        <img class="logo" src="happy.png" width="100px" height="100px">
        <h1>Fatemas Jyckar</h1>
    </div>

    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dogs">Dogs</a></li>
            <li><a href="/donations">Donations</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>

<br>


<div class="dog-container" th:each="item: ${itemList}">
    <img class="test" th:src="${item.imageUrl}">
    <div class="dog-info">
        <p th:text="${item.name}"></p>
        <p th:text="${item.price} + '$'"></p>
        <button><a class="doglink" th:href="'/item/' + ${item.id}" type="button">More info</a></button>
        <button type="submit">Add to cart</button>
    </div>
</div>


</body>
</html>